<head>
</head>
<body>
    <app-header></app-header>
    <div class="cent">
    <div class="card">
        <div class="content">
          <div class="top">
            <p class="titre">SONDE N° 1</p>
            <div class="color"></div>
          </div>
          <div class="middle">
            <div>
              <p>Données : </p>
            </div>
          </div>
          <div class="bottom">
            <div>
              <p>Température</p>
              <p class="don">36</p>
            </div>
            <div>
              <p>Pression</p>
              <p class="don">93</p>
            </div>
            <div>
              <p>Humidité</p>
              <p class="don">68</p>
            </div>
          </div>
        </div>
      </div>
    </div>



</body>
<footer>
<app-footer></app-footer>
</footer>