<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Projet Raspberry</title>
</head>
<body>
    <div class="placementtitre">
    <h2>
        <div class="titre">
        Station météo
    </div>
    </h2>
</div>

<ul class="données">
    <nav><a href="http://localhost:3080/page">Données météorologiques</a></nav>
</ul>



</body>
</html>