nav a {
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(38, 79, 121);
    color: #abc1d3;
    border-radius: 50px;
    text-align: center;
    width: 100px;
}

nav a:hover {
    color: white;
    background-color: #abc1d3;
}

nav a:active {
    background-color: black;
}