<div class="ag-format-container">
  <div class="ag-courses_box">

    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Spécifications techniques
        </div>

        <div class="ag-courses-item_date-box">
          Dernière MAJ :
          <span class="ag-courses-item_date">
            14/03/2023
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="/tableau" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Sonde(s) en live 
        </div>

        <div class="ag-courses-item_date-box">
          Dernière MAJ : 
          <span class="ag-courses-item_date">
            14/03/2023
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a routerLink="/dashboard" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Graphique / Historique
        </div>

        <div class="ag-courses-item_date-box">
          Dernière MAJ : 
          <span class="ag-courses-item_date">
            14/03/2023
          </span>
        </div>
      </a>
    </div>
  </div>
</div>