<header>
<app-lienpageaccueil></app-lienpageaccueil>
</header>

<title>Sondes</title>

<body>
    <h1><div class= "titredonnees">Données
    </div></h1>

    <div class="titresonde">
        <h3><p class="sonde-1">
            Sonde 1 
            <p class="donnees">
            <span class="temperature">
                Température
                <br>
                {{temperature}} (°C)
                <br>
                {{datetime | date:'dd/MM/yyyy hh:mm:ss'}}
            </span>
            <span class="humidite">
                Humidité
                <br>
                {{humidite}} (%)
                <br>
                {{datetime | date:'dd/MM/yyyy hh:mm:ss'}}
            </span>
            <span class="pression">
                Pression
                <br>
                {{pression}} (hPa)
                <br>
                {{datetime | date:'dd/MM/yyyy hh:mm:ss'}}
            </span>

        </p></h3>
       
        <h3><p class="sonde-1">
            Sonde 2
            <p class="donnees">
                <span class="temperature">
                    Température
                    <br>
                    {{temperature}} (°C)
                    <br>
                    {{datetime | date:'dd/MM/yyyy hh:mm:ss'}}
                </span>
                <span class="humidite">
                    Humidité
                    <br>
                    {{humidite}} (%)
                    <br>
                    {{datetime | date:'dd/MM/yyyy hh:mm:ss'}}
                </span>
                <span class="pression">Pression
                    <br>
                    {{pression}} (hPa)
                    <br>
                    {{datetime | date:'dd/MM/yyyy hh:mm:ss'}}
                </span>
                
            </p>
        </h3>
        <h3><p class="sonde-1">
            Graphique
        
            <a routerLink="/graphique"><img src="/assets/photographique.jpg"></a>
        </p></h3>
    </div>

</body>
